.App {
  max-width: 1320px;
  padding: 30px;
  margin: auto;
}

.Wrapper{
  display: flex;
  justify-content: space-between;
}

.Data {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.CostWrapper{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Coster{
  display: flex;
  flex-direction: column;
}