.App {
  max-width: 1440px;
  padding: 30px;
  margin: auto;
}

.Wrapper{
  display: flex;
  flex-direction: column;
}

.Data {
  display: flex;
  justify-content: space-between;
}

.CostWrapper{
  display: flex;
  justify-content: space-between;
}

.Coster{
  display: flex;
  flex-direction: column;
  width: 48%;
}